/*=============== ROOT SETINGS ===============*/
:root {
  /*=============== Colors ===============*/
  --bg-colors: hsla(240, 25%, 95%, 1);
  --text-color: hsla(0, 0%, 100%, 1);
  --bg-inner: hsla(0, 0%, 17%, 1);
  --main-title: hsla(223, 15%, 91%, 1);
  --yellow: hsla(42, 100%, 50%, 1);
  --yellow_hire-me: hsla(42, 100%, 50%, 0.95);
  --dark-view2: hsla(210, 2%, 23%, 1);
  --dark-view: hsla(210, 3%, 15%, 1);
  --para-font: hsla(0, 0%, 46%, 1);
  --red: #FF506D;
  --purple: #AA77F4;
  --blue: #54A9FF;
  --yellowBrackets: #F8D900;

  /*========== Font and typography ==========*/
  --body-font:  'Trispace', sans-serif;
  --title-size: 56px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*=============== Header height ===============*/
  --header-height: 80px;
}

/*=============== BASE ===============*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--body-font);
    font-weight: var(--font-regular);
    font-size: clamp(1rem, calc(1rem / 60.625rem * 100vw), 1.125rem);
    background-color: var(--body-colors);
    color: var(--para-font);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.4;
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--para-font);
}
img, video {
    max-width: 100%;
    height: auto;
}
button, input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
button {
    cursor: pointer;
}
input {
    outline: none;
}
.main {
    overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container-large {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/*========== Variables for Dark theme ==========*/
body.dark-theme {
  background-color: var(--bg-inner);
  color: var(--bg-colors);
}
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6 {
  color: var(--main-title);
}
body.dark-theme .header__inner,
body.dark-theme .intro__inner,
body.dark-theme .about__inner,
body.dark-theme .skills__inner,
body.dark-theme .educ__inner,
body.dark-theme .portfolio__inner,
body.dark-theme .hire__inner,
body.dark-theme .hire__form {
  background-color: var(--bg-inner);
  color: var(--text-color);
}
body.dark-theme .header__inner {
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.4);
}
body.dark-theme .nav__link {
  color: var(--main-title);
}
body.dark-theme .nav__link g > path {
  fill: var(--main-title);
}

body.dark-theme .skills__inner {
  background-color: var(--dark-view2);
}
body.dark-theme .educ__item {
  background-color: var(--dark-view2);
}
body.dark-theme button.portf__filter-btn {
  color: var(--text-color);
}
body.dark-theme button.portf__filter-btn:hover {
  color: var(--yellow);
}
body.dark-theme button.portf__filter-btn--active {
  color: var(--yellow);
}
body.dark-theme .educ__cont-link:hover {
  color: var(--text-color);
}
body.dark-theme .my-code__inner {
  background-color: var(--dark-view2);
}
body.dark-theme .footer {
  background-color: var(--dark-view);
}
body.dark-theme .footer__link {
  color: var(--text-color);
}
body.dark-theme .footer__rss-link {
  fill: var(--text-color);
}
body.dark-theme .footer__rss-link-js {
  fill: var(--bg-inner);
}

@media screen and (max-width: 767px) {
  body.dark-theme .ri-sun-line {
    color: var(--yellow);
  }
  body.dark-theme .nav__list {
    background-color: var(--dark-view);
    color: var(--text-color);
  }
}
@media screen and (min-width: 768px) {
  body.dark-theme .ri-contrast-2-fill {
    color: var(--yellow);
    transition: all 0.3s;
  }
  body.dark-theme .ri-contrast-2-fill:hover {
    color: var(--yellow)
  }
}

/*=============== SECTION ===============*/
section {
  margin-bottom: 2rem;  
}

/*=============== TITLES ===============*/
.title {
  color: var(--bg-inner);
  font-family: var(--font-bold);
  font-size: clamp(1.5rem, calc(32 / 1200 * 100vw), 2.5rem);
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  position: relative;
}
.title:before {
  content: '';
  bottom: -6px;
  left: 41%;
  position: absolute;
  display: inline-block;
  background-image: url('../images/intro/4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}
.title:after {
  content: '';
  top: -15px;
  left: 56%;
  position: absolute;
  display: inline-block;
  background-image: url('../images/icons/skills-decor.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}
.sub-title {
  color: var(--dark-view2);
  font-family: var(--font-medium);
  text-transform: uppercase;
}
.title-intro {
  font-weight: var(--font-bold);
  color: var(--bg-inner);
  font-size: clamp(26px, calc(56 / 1200 * 100vw), 56px);
}

/*=============== BUTTONS ===============*/
.btn {
  background-color: var(--yellow);
  font-size: clamp(0.75rem, calc(10 / 1200 * 100vw), 0.9rem);
  line-height: 1.5rem;
  font-weight: var(--font-semi-bold);
  padding: 0.625rem 2.5rem;
  color: var(--bg-inner);
  transition: all 0.3s;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: var(--text-color);
}
.btn-hire {
  background-color: var(--yellow_hire-me);
  color: var(--dark-view);
  font-weight: var(--font-medium);
  font-size: clamp(1rem, calc(32 / 1200 * 100vw), 2rem);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.btn-hire:hover {
  color: var(--text-color);
}

/*=============== ANIMATION ===============*/
@keyframes slideX {
  from {
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideY {
  from {
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.anim-section-x {
  animation-duration: 1.5s;
  animation-name: slideX; 
  animation-delay: 0.2s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.anim-section-y {
  animation-duration: 1.5s;
  animation-name: slideY; 
  animation-delay: 0.2s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

/*=============== FORMS ===============*/
.form {
  display: flex;
  flex-direction: column;
  background-color: var(--text-color);
  align-items: start;
  padding: 1.5rem;
  font-weight: var(--font-medium);
}
.form label {
  margin-bottom: 0.5rem;
  text-align: left;
}
.form__input-name,
.form__input-email,
.form__area {
  background-color: var(--bg-colors);
  width: 100%;
  border: none;
  padding: 0.6rem 1rem;
  margin-bottom: 1.5rem;
}
.form__area {
  min-height: 10rem;
  resize: none;
}

/*=============== HEADER ===============*/
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}
/* HEADER__INNER */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 10px rgba(58, 58, 58, 0.2);
  background-color: var(--text-color);
  height: var(--header-height);
  padding-right: 20px;
  padding-left: 20px;
}
/* HEADER__ITEM-BTN */
.header__item-btn {
  box-shadow: -1px 1px 10px var(--text-color);
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 50%;
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
}
.header__item-btn:hover {
  background-color: var(--para-font);
  color: var(--yellow);
}
/* HEADER__NAV */
.header__nav {
  width: 100%;
}


